<button class="btn btn-success btn-add-device" type="button" data-ng-click="addPoll()">New Poll</button>

<table class='table table-hover'>
	<caption>
		<p><input type='search' class='form-control' placeholder='Find poll...' ng-model='query' /></p>
      </caption>
	<thead>
		<tr>
	      <th style="width: 30%"><a class="glyphicon glyphicon-sort sortHeader" href="" ng-click="predicate = 'timestamp'; reverse=!reverse">Time of Creation</a>
	      <th><a href="" class="glyphicon glyphicon-sort sortHeader" ng-click="predicate = 'question'; reverse=!reverse">Poll Name</a></th>
	      <th style="width: 10%"><a class="glyphicon glyphicon-sort sortHeader" href="" ng-click="predicate = 'totalVotes'; reverse=!reverse">Votes</a>
	    </tr>
	</thead>
	<tbody>
		<tr ng-click='show(contact.$id)' ng-repeat='poll in polls| filter: query| orderBy:predicate:reverse'>
			<td>{{ poll.timestamp }}</td>
			<td><a href="#/poll/{{poll.$id}}"> {{ poll.question }} </a></td>
			<td>{{ poll.totalVotes }}</td>
		</tr>
	</tbody>
</table>
    
    <div class="emptyMessage" ng-show="((polls | filter:query).length==0) && (polls.length)">No matching polls found. Try something else.</div>

    <div class="emptyMessage" ng-hide="polls.length">
        No polls present. Press the Add Poll button to create a poll.
    </div>
    