<form class="newPollForm">
		<div class="form-group">
			<label>Question*</label>
			<input type="text" class="form-control" placeholder="Enter question" data-ng-model="poll.question" required>
		</div>
	

		<div ng-repeat="option in poll.options" class="form-group">

			<label>Option {{ $index + 1}}*</label>
				<input required type="text" name="options" class="form-control" placeholder="Enter option" data-ng-model="option.name" />
		</div>

		<div ng-repeat="option in newOptions" class="input-group">

			<label>Option {{ $index + 3}}*</label>
				<input required type="text" name="options" class="form-control" placeholder="Enter option" data-ng-model="option.name" />
				<span class='input-group-btn'>
				<button type="button" class='btn btn-default' ng-click='removeOption($index)'><span class='glyphicon glyphicon-remove-circle'></span></button>
				</span>
		</div>


		
	<div class="formButtons">
		<button class="btn btn-default" data-ng-click="addOption()" type="button">Add Option</button>
		<button class="btn btn-default" type="submit" type="submit" data-ng-click="create()">Create Poll</button>
	</div>

</form>