
<form>
<div class="form-group">

            <div class="controls">
                <label class="control-label">
                    {{ poll.question }}</label>
                <label class="radio" ng-repeat="option in poll.options">
                    <input name="name" type="radio" ng-model="$parent.selectedOption" value="{{$index}}" required>{{option.name}}
                </label>
            </div>

    <button type="submit" class="btn btn-primary" data-ng-click="vote()">Vote</button>
    <a href="#/results/{{id}}"> view results only </a>

</div>
</form>